<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=window">
         <menu
               label="RLExtensions">
            <command
                  commandId="Pattern01.crudConfigCommand"
                  label="Crud configuration"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="pattern01.PatternNav"
            id="Pattern01.navigationView"
            name="Pattern navigation"
            restorable="true">
      </view>
   </extension>

</plugin>
