<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=window">
         <menu
               label="RLExtensions">
            <command
                  commandId="Pattern01.crudConfigCommand"
                  label="Crud configuration"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <menu
               id="Pattern01.menu1"
               label="Yogurt"
               path="popup:org.eclipse.ui.views.ResourceNavigator?after=additions">
            <command
                  commandId="Pattern01.classCollectorCommand"
                  label="Class Collector"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="pattern01.plugin.components.navigator.PatternNav"
            id="Pattern01.navigationView"
            name="Pattern navigation"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="pattern01.popup.commands.ClassCollectorHandler"
            commandId="Pattern01.classCollectorCommand">
      </handler>
      <handler
            class="pattern01.popup.commands.PatternEditorHandler"
            commandId="Pattern01.editPatternCommand">
      </handler>
   </extension>

</plugin>
